<%
    const dir = lang === "he" ? "rtl" : "ltr"
    const eventsList = data || []
    const emptyCover = "/static/assets/images/preview-empty.png"

    const countPage = Math.ceil(count / 9)
%>

<div id="allEvents-container" class="events-container <%= dir %>">
    <% eventsList.map(event => { %>
        <a href="/events/<%= event._id %>">
            <div class="event">
                <button class="options-menu _icon-ico-menu"></button>
                <div class="img-container <%= (!event.cover) ? 'empty' : '' %>">
                    <img src=<%= event.cover || emptyCover %> alt=""/>
                </div>
                <h4 class="event-title"><%= event.title %></h4>
                <div class="event-info">
                    <%= moment(event.date).format("DD.MM.YYYY") %> - <%= moment(event.date).format("HH:mm") %> - <%= event.place %>
                </div>
            </div>
        </a>
    <% }) %>
</div>
<% if (countPage > 1) { %>
  <div class="pagination">
      <button class="pagination-arr-btn prev-btn <%= dir %> <%= currentPage - 1 < 1 ? 'disabled' : ''%>">
          <div class="arrow btn-arrow _icon-ico-arrow-short" data-page="<%= currentPage - 1 %>" data-count="<%= count %>"></div>
      </button>
      <div class="pages">
          <% for(let i = 1; i <= countPage; i++) { %>
              <button class="page-num <%= currentPage == i ? 'active' : ''%>" data-page="<%= i %>"><%= i %></button>
          <% } %>
          <% if(countPage > 8) {%>
              <span class="dots">...</span>
              <button class="page-num">18</button>
          <% }%>
      </div>
      <button class="pagination-arr-btn next-btn <%= dir %> <%= currentPage == countPage ? 'disabled' : ''%>">
          <div class="arrow btn-arrow _icon-ico-arrow-short" data-page="<%= Number(currentPage) + 1 %>" data-count="<%= count %>"></div>
      </button>
  </div>
<% } %>
