<%
  const dir = "ltr"
  const event = data || []
  const emptyCover = "/static/assets/images/preview-empty.png"
%>

<main>
  <section class="event-section" dir=<%= dir %>>
    <div class="top frame <%= dir %>">
      <div class="content-title"><%= event.title %></div>
      <button class="options-menu-big">
        <span class="btn-dots"></span>
      </button>
    </div>
    <div class="content frame <%= dir %>">
      <div class="content-card">
        <div class="text-wrapper">
          <div class="text-container">
            <%- event.text %>
          </div>
        </div>
      </div>
    </div>
    <div class="datePlace-info">
      <%= moment(event.date).format("DD.MM.YYYY") %> - <%= moment(event.time).format("hh:mm") %> - <%= event.place %>
    </div>
  </section>

  <section class="events-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Другие события</h2>
      <a href="/events">
        <button class="show-btn <%= dir %>">
          <span>Показать все</span>
          <div class="btn-arrow _icon-ico-arrow-short"></div>
        </button>
      </a>
    </div>
    <div class="events-container <%= dir %>">
      <% upcomingEvents.map((event, i) => { %>
        <a href="/events/<%= event.id %>">
          <div class="event <%= `event-${i + 1}` %>">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container <%= (!event.cover) ? 'empty' : '' %>">
              <img src=<%= event.cover || emptyCover %> alt=""/>
            </div>
            <h4 class="event-title"><%= event.title %></h4>
            <div class="event-info">
              <%= moment(event.date).format("DD.MM.YYYY") %> - <%= moment(event.time).format("hh:mm") %> - <%= event.place %>
            </div>
          </div>
        </a>
      <% }) %>
      <!-- <div class="event event-1">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event1.png" alt=""/>
        </div>
        <h4 class="event-title">Волонтерство. Вербуем добрых людей</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event event-2">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event2.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительного ц.</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event event-3">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event3.png" alt=""/>
        </div>
        <h4 class="event-title">Помощь жителям</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event event-4">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event4.png" alt=""/>
        </div>
        <h4 class="event-title">Волонтерская поддержка бездомным</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div> -->
    </div>
    <a href="/events" class="bottom-btn">
      <button class="show-btn">
        <div class="btn-arrow _icon-ico-arrow-short"></div>
      </button>
    </a>
  </section>

</main>

<%- contentFor('scripts') %>
