<%
  const dir = "ltr"
%>

<main>

  <section class="future-events-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Будущие события</h2>
    </div>
    <div class="events-container <%= dir %>">
      <a href="/events/event">
        <div class="event event-1">
          <button class="options-menu _icon-ico-menu"></button>
          <div class="img-container">
            <img src="/static/assets/images/e1.png" alt=""/>
          </div>
          <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
          <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
        </div>
      </a>

      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e2.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e3.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e4.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e5.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e6.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e7.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/e8.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
    </div>
  </section>

  <section class="all-events-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Все мероприятия</h2>
      <button class="calendar-btn">
        <span class="_icon-ico-calendar" id="calendarToggle"></span>
      </button>
    </div>
    <div class="wrapper">
      <div class="calendar-container" id="calendarMenu">
        <div class="top">
          <div class="title">
            Дата события
          </div>
          <span class="calendar-ico _icon-ico-calendar"></span>
        </div>
      </div>
      <div class="events">
        <div class="events-container <%= dir %>">
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e9.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e10.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e11.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e12.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e13.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e14.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e15.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e16.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
          <div class="event">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container">
              <img src="/static/assets/images/e17.png" alt=""/>
            </div>
            <h4 class="event-title">Фитнес. Поддержка оздоровительно...</h4>
            <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
          </div>
        </div>
        <div class="pagination">
          <button class="prev-btn <%= dir %>">
            <div class="arrow btn-arrow _icon-ico-arrow-short"></div>
          </button>
          <div class="pages">
            <% for(let i = 1; i < 8; i++) { %>
              <button class="page-num"><%= i %></button>
            <% } %>
            <span class="dots">...</span>
            <button class="page-num">18</button>
          </div>
          <button class="next-btn <%= dir %>">
            <div class="arrow btn-arrow _icon-ico-arrow-short"></div>
          </button>
        </div>
      </div>
    </div>

  </section>

</main>

<%- contentFor('scripts') %>

<script>
  const calendarToggle = document.getElementById("calendarToggle");
  const calendarMenu = document.getElementById("calendarMenu");

  calendarToggle.addEventListener("click", function (event) {
    // event.preventDefault();

    calendarToggle.classList.toggle("active");
    calendarMenu.classList.toggle("active");
  });

  const pageNumButtons = document.querySelectorAll('.page-num');

  pageNumButtons.forEach((button) => {
    button.addEventListener('click', () => {
      pageNumButtons.forEach((btn) => {
        btn.classList.remove('active');
      });

      button.classList.add('active');
    });
  });
</script>
