<%
  const dir = lang === "he" ? "rtl" : "ltr"
  const eventsList = data || []
  const emptyCover = "/static/assets/images/preview-empty.png"
%>

<main>

  <section class="future-events-section" dir=<%= dir %>>
    <div class="section-title">
      <h2><%= __('translate-48')%></h2>
    </div>
    <div class="events-container <%= dir %>">
      <% upcomingEvents.map((event, i) => { %>
        <a href="/events/<%= event._id %>">
          <div class="event <%= (i === 0) ? 'event-1' : '' %>">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container <%= (!event.cover) ? 'empty' : '' %>">
              <img src=<%= event.cover || emptyCover %> alt=""/>
            </div>
            <h4 class="event-title"><%= event.title %></h4>
            <div class="event-info">
              <%= moment(event.date).format("DD.MM.YYYY") %> - <%= moment(event.date).format("HH:mm") %> - <%= event.place %>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </section>

  <section class="all-events-section" dir=<%= dir %>>
    <div class="section-title">
      <h2><%= __('translate-49')%></h2>
      <button onclick="toggleCalendar()" class="calendar-btn" id="calendarToggle">
        <span class="_icon-ico-calendar"></span>
      </button>
    </div>
    <div class="wrapper">
      <div class="calendar-container" id="calendarMenu">
        <div class="top">
          <div class="title">
            <%= __('translate-50')%>
          </div>
          <span class="calendar-ico _icon-ico-calendar"></span>
        </div>
        <div class="calendar">
          <form id="datepickerForm">
            <div>
              <div class="input-wrapper <%= dir %>">
                <label for="datepicker"><%= __('translate-51')%></label>
                <input class="input" id="datepicker" placeholder="дд/мм/гггг" readonly>
              </div>
            </div>
            <div class="buttons">
              <button type="button" id="resetButton"><%= __('translate-52')%></button>
              <button type="submit"><%= __('translate-53')%></button>
            </div>
          </form>
        </div>
      </div>
        <div class="events" id="events-container">
            <%- include('components/events-section', {count: count, data: data, lang: lang}); %>
        </div>
    </div>

  </section>

</main>

<%- contentFor('scripts') %>

<script>
  const calendarToggle = document.getElementById("calendarToggle");
  const calendarMenu = document.getElementById("calendarMenu");

  function toggleCalendar() {
    calendarToggle.classList.toggle("active");
    calendarMenu.classList.toggle("active");
  }

  function fetchEvents(page, selectedDate) {
    let uri = `/events/json?page=${page}`;

    const url = new URL(location.href);
    url.searchParams.set('page', page);
    history.pushState(null, '', url);

    if (selectedDate) {
      uri += `&selectedDate=${selectedDate}`;
    }

    const eventsContainer = document.getElementById("events-container");

    fetch(uri)
      .then(response => response.text())
      .then((section) => {
        eventsContainer.innerHTML = section;
        initPagination();
      });
  }

  function onPressPage(e) {
    const pageNumButtons = document.querySelectorAll('.page-num');
    pageNumButtons.forEach((btn) => {
      btn.classList.remove('active');
    });

    const page = e.target.dataset.page;

    const selectedDate = new URL(document.URL).searchParams.get("date");
    fetchEvents(page, selectedDate);

    e.target.classList.add('active');
  }

  function onPressArrowPage(e) {
    const page = e.target.dataset.page;
    const countPage = Math.ceil(e.target.dataset.count / 9);

    if (page > 0 && page <= countPage) {
      const selectedDate = new URL(document.URL).searchParams.get("date");
      fetchEvents(page, selectedDate);
    }
  }

  function initPagination() {
    const pageNumButtons = document.querySelectorAll('.page-num');
    const pageArrowButtons = document.querySelectorAll('.pagination-arr-btn');

    pageNumButtons.forEach((button) => {
      button.addEventListener('click', onPressPage);
    });
    pageArrowButtons.forEach((button) => {
      button.addEventListener('click', onPressArrowPage);
    });
  }

  initPagination()
</script>


<script src="https://unpkg.com/js-datepicker"></script>
<script type="module" src="/static/scripts/datePicker.js"></script>
