<%
  const dir = lang === "he" ? "rtl" : "ltr"
  const emptyCover = "/static/assets/images/preview-empty.png"
%>

<main>
  <section class="about-section" dir=<%= dir %>>
    <div class="top frame <%= dir %>">
      <img src="/static/assets/images/waveLine.png" alt="" />
      <button class="options-menu-big">
        <span class="btn-dots"></span>
      </button>
    </div>
    <div class="content">
      <div class="wrapper-left">
        <div class="info frame <%= dir %>">
          <div class="title"><%= __('section.support-for-future.heading')%></div>
          <div class="description <%= dir %>">
            <img class="bg-shape" src="/static/assets/images/bg-star.png" alt=""/>
            <img class="avatar" src="/static/assets/images/avatar8.png" alt=""/>
            <div class="bubble">
              <div class="corner <%= dir === 'ltr' ? 'left' : 'right' %>" ></div>
              <div class="text-container <%= dir === 'ltr' ? 'left' : 'right' %>" >
                <% __('section.support-for-future.desc').forEach(function(desc){ %>
                  <p>
                    <%= desc %>
                  </p>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="support frame <%= dir %>">
          <button class="slide-btn-big join-btn <%= dir %>">
            <span class="button-text">
              <%= __('section.support-for-future.cta')%>
            </span>
            <span class="circle" aria-hidden="true">
              <span class="arrow _icon-ico-arrow-short"></span>
            </span>
          </button>
        </div>
      </div>
      <div class="wrapper-right">
        <div class="video frame <%= dir %>">
          <div class="video-container img-container">
            <img src="/static/assets/images/video.png" alt=""/>
            <button class="btn-play _icon-ico-video"></button>
          </div>
        </div>
        <div class="avatars frame <%= dir %>">
          <div class="avatars-container">
            <img src="/static/assets/images/avatar1.png" alt="" />
            <img src="/static/assets/images/avatar2.png" alt="" />
            <img src="/static/assets/images/avatar3.png" alt="" />
            <img src="/static/assets/images/avatar4.png" alt="" />
            <img src="/static/assets/images/avatar5.png" alt="" />
            <img src="/static/assets/images/avatar6.png" alt="" />
            <img src="/static/assets/images/avatar7.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="how-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>
        <%= __('section.how-we-help.heading')%>
      </h2>
    </div>
    <div class="description <%= dir %>">
      <img class="bg-shape" src="/static/assets/images/bg-shape.png" alt=""/>
      <img class="avatar" src="/static/assets/images/avatar-vector3.png" alt=""/>
      <div class="bubble">
        <div class="text-container <%= dir === 'ltr' ? 'right' : 'left' %>" >
          <p>
            <%= __('section.how-we-help.desc')%>
          </p>
        </div>
        <div class="corner <%= dir === 'ltr' ? 'right' : 'left' %>" ></div>
      </div>
    </div>
    <div class="cards">
      <% __('section.how-we-help.event-types').forEach(function(type, t){ %>
        <div class="card">
          <div class="card-img frame <%= dir %>">
            <img src="/static/assets/images/illustration<%= t+1 %>.png" alt="<%= type %>" />
          </div>
          <div class="card-text frame <%= dir %>">
            <h4>
              <%= type %>
            </h4>
          </div>
        </div>
      <% }); %>
    </div>
  </section>

  <section class="reasons-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>
        <%= __('section.why-we-help.heading')%>
      </h2>
    </div>
    <div class="wrapper <%= dir %>">
      <div class="left-wrapper">
        <img src="/static/assets/images/avatar-vector1.png" alt=""/>
        <div class="bubble">
          <div class="corner <%= dir === 'ltr' ? 'left' : 'right' %>" ></div>
          <div class="text-container <%= dir === 'ltr' ? 'left' : 'right' %>" >
            <% __('section.why-we-help.desc1').forEach(function(desc){ %>
              <p>
                <%= desc %>
              </p>
            <% }); %>
          </div>
        </div>

      </div>
      <div class="right-wrapper">
        <div class="text">
          <div class="bubble">
            <div class="text-container <%= dir === 'ltr' ? 'right' : 'left' %>" >
              <% __('section.why-we-help.desc2').forEach(function(desc){ %>
                <p>
                  <%= desc %>
                </p>
              <% }); %>
            </div>
            <div class="corner <%= dir === 'ltr' ? 'right' : 'left' %>" ></div>
          </div>
          <button class="slide-btn-big join-btn <%= dir %>">
            <span class="button-text">
              <%= __('section.why-we-help.cta') %>
            </span>
            <span class="circle" aria-hidden="true">
              <span class="arrow _icon-ico-arrow-short"></span>
            </span>
          </button>
        </div>
        <img src="/static/assets/images/avatar-vector2.png" alt=""/>
      </div>
    </div>
  </section>

  <section class="events-section" dir=<%= dir %>>
    <div class="section-title <%= dir %>">
      <h2>
        <%= __('section.events.heading') %>
      </h2>
      <a href="/events">
        <button class="show-btn <%= dir %>">
          <%= __('section.events.show-all') %>
          <div class="btn-arrow _icon-ico-arrow-short"></div>
        </button>
      </a>
    </div>
    <div class="events-container <%= dir %>">
      <% upcomingEvents.map((event, i) => { %>
        <a href="/events/<%= event.id %>">
          <div class="event <%= `event-${i + 1}` %>">
            <button class="options-menu _icon-ico-menu"></button>
            <div class="img-container <%= (!event.cover) ? 'empty' : '' %>">
              <img src=<%= event.cover || emptyCover %> alt=""/>
            </div>
            <h4 class="event-title"><%= event.title %></h4>
            <div class="event-info">
              <%= moment(event.date).format("DD.MM.YYYY") %> - <%= moment(event.time).format("hh:mm") %> - <%= event.place %>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
    <a href="/events" class="bottom-btn">
      <button class="show-btn">
        <div class="btn-arrow _icon-ico-arrow-short"></div>
      </button>
    </a>
  </section>

  <section class="donation-section" id="connect-link" dir=<%= dir %>>
    <div class="section-title">
      <h2>
        <%= __('section.charity.heading') %>
      </h2>
    </div>
    <div class="top frame <%= dir %>">
      <div class="content-title">
        <%= __('section.charity.requisites.heading') %>
      </div>
      <button class="options-menu-big">
        <span class="btn-dots"></span>
      </button>
    </div>
    <div class="center">
      <div class="payment-details frame <%= dir %>">
        <div class="form">
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">
              <%= __('section.charity.requisites.bank-name') %>
            </label>
            <input class="input" id="bank-name" value="‏בנק הפועלים" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">
              <%= __('section.charity.requisites.swift-code') %>
            </label>
            <input class="input" id="bank-name" value="ALFARUMM" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">
              <%= __('section.charity.requisites.iban') %>
            </label>
            <input class="input" id="bank-name" value="0000000000828132111000333" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">
              <%= __('section.charity.requisites.name') %>
            </label>
            <input class="input" id="bank-name" value="Victor Coy" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="description frame <%= dir %>">
        <img class="bg-shape" src="/static/assets/images/bg-star.png" alt=""/>
        <img class="avatar" src="/static/assets/images/avatar-vector4.png" alt=""/>
        <div class="bubble">
          <div class="text-container <%= dir === 'ltr' ? 'right' : 'left' %>" >
            <% __('section.charity.desc').forEach(function(desc){ %>
              <p>
                <%= desc %>
              </p>
            <% }); %>
          </div>
          <div class="corner <%= dir === 'ltr' ? 'right' : 'left' %>" ></div>
        </div>
      </div>
    </div>
    <div class="avatars frame <%= dir %>">
      <div class="avatars-container">
        <img src="/static/assets/images/avatar1.png" alt="" />
        <img src="/static/assets/images/avatar2.png" alt="" />
        <img src="/static/assets/images/avatar3.png" alt="" />
        <img src="/static/assets/images/avatar4.png" alt="" />
        <img src="/static/assets/images/avatar5.png" alt="" />
        <img src="/static/assets/images/avatar6.png" alt="" />
        <img src="/static/assets/images/avatar7.png" alt="" />
      </div>
    </div>
    <div class="bottom">
      <div class="transaction frame <%= dir %>">
        <button class="slide-btn-big join-btn <%= dir %>">
          <span class="button-text">
            <%= __('section.charity.cta-bant-transfer') %>
          </span>
          <span class="circle" aria-hidden="true">
            <span class="arrow _icon-ico-arrow-short"></span>
          </span>
        </button>
      </div>
      <div class="join frame <%= dir %>">
        <button class="slide-btn-big join-btn <%= dir %>">
          <span class="button-text">
            <%= __('section.charity.cta-join-us') %>
          </span>
          <span class="circle" aria-hidden="true">
            <span class="arrow _icon-ico-arrow-short"></span>
          </span>
        </button>
      </div>
    </div>
  </section>

  <section class="important-facts-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>
        <%= __('section.why-it-is-important.heading') %>
      </h2>
    </div>
    <div class="facts-container">
      <div class="fact">
        <div class="fact-text text-regular">
          <%= __('section.why-it-is-important.families-leave') %>
        </div>
        <div class="fact-number">
          12
        </div>
      </div>
      <div class="fact">
        <div class="fact-text text-regular">
          <%= __('section.why-it-is-important.young-specs-leave-place') %>
        </div>
        <div class="fact-number">
          3
        </div>
      </div>
      <div class="fact">
        <div class="fact-text text-regular">
          <%= __('section.why-it-is-important.students-in-center') %>
        </div>
        <div class="fact-number">
          >50
        </div>
      </div>
      <div class="fact">
        <div class="fact-text text-regular">
          <%= __('section.why-it-is-important.business-in-haifa') %>
        </div>
        <div class="fact-number">
          3,6%
        </div>
      </div>
    </div>

  </section>



</main>

<%- contentFor('scripts') %>

<script>
  const copyButtons = document.querySelectorAll('.copy-button');

  copyButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const input = button.previousElementSibling;
      input.select();
      document.execCommand('copy');
    });
  });
</script>
