<%
  const dir = "ltr"
%>

<main>
  <section class="about-section" dir=<%= dir %>>
    <div class="top frame <%= dir %>">
      <img src="/static/assets/images/waveLine.png" alt="" />
      <button class="options-menu-big">
        <span class="btn-dots"></span>
      </button>
    </div>
    <div class="content">
      <div class="wrapper-left">
        <div class="info frame <%= dir %>">
          <div class="title">Будущее Хайфы</div>
          <div class="description <%= dir %>">
            <img class="bg-shape" src="/static/assets/images/bg-star.png" alt=""/>
            <img class="avatar" src="/static/assets/images/avatar8.png" alt=""/>
            <div class="bubble">
              <div class="corner <%= dir === 'ltr' ? 'left' : 'right' %>" ></div> 
              <div class="text-container <%= dir === 'ltr' ? 'left' : 'right' %>" >
                <p>
                  Мы — некоммерческая организация "Молодежь для Хайфы", созданная волонтёрами для развития города и помощи людям.  
                </p>
                <p>
                  Наша цель - создать лучшие условия самореализации для молодёжи: от получения качественного образования до создания своего бизнеса.
                </p>
              </div>  
            </div>     
          </div>       
        </div>
        <div class="support frame <%= dir %>">
          <button class="slide-btn-big join-btn <%= dir %>">
            <span class="button-text">Поддержать Хайфу</span>
            <span class="circle" aria-hidden="true">
              <span class="arrow _icon-ico-arrow-short"></span>
            </span>
          </button>
        </div>        
      </div>
      <div class="wrapper-right">
        <div class="video frame <%= dir %>">
          <div class="video-container img-container">
            <img src="/static/assets/images/video.png" alt=""/>
            <button class="btn-play _icon-ico-video"></button>
          </div>
        </div>
        <div class="avatars frame <%= dir %>">
          <div class="avatars-container">
            <img src="/static/assets/images/avatar1.png" alt="" />
            <img src="/static/assets/images/avatar2.png" alt="" />
            <img src="/static/assets/images/avatar3.png" alt="" />
            <img src="/static/assets/images/avatar4.png" alt="" />
            <img src="/static/assets/images/avatar5.png" alt="" />
            <img src="/static/assets/images/avatar6.png" alt="" />
            <img src="/static/assets/images/avatar7.png" alt="" />
          </div>
        </div>              
      </div>
    </div>
  </section>

  <section class="how-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Как?</h2>
    </div>
    <div class="description <%= dir %>">
      <img class="bg-shape" src="/static/assets/images/bg-shape.png" alt=""/>
      <img class="avatar" src="/static/assets/images/avatar-vector3.png" alt=""/>
      <div class="bubble">
        <div class="text-container <%= dir === 'ltr' ? 'right' : 'left' %>" >
          <p>
            Мы занимаемся социальными проектами по развитию города и помогаем молодёжи реализовать себя в профессиональных, творческих, спортивных программах:
          </p>
        </div>
        <div class="corner <%= dir === 'ltr' ? 'right' : 'left' %>" ></div>   
      </div>     
    </div>
    <div class="cards">
      <div class="card">
        <div class="card-img frame <%= dir %>">
          <img src="/static/assets/images/illustration1.png" alt=""/>
        </div>
        <div class="card-text frame <%= dir %>">
          <h4>Создание комфортной городской среды для жителей Хайфы</h4>
        </div>
      </div>
      <div class="card">
        <div class="card-img frame <%= dir %>">
          <img src="/static/assets/images/illustration2.png" alt=""/>
        </div>
        <div class="card-text frame <%= dir %>">
          <h4>Обучающие курсы, лекции, мастер-классы</h4>
        </div>
      </div>
      <div class="card">
        <div class="card-img frame <%= dir %>">
          <img src="/static/assets/images/illustration3.png" alt=""/>
        </div>
        <div class="card-text frame <%= dir %>">
          <h4>Встречи, поездки, праздники для новых друзей и впечатлений</h4>
        </div>
      </div>
      <div class="card">
        <div class="card-img frame <%= dir %>">
          <img src="/static/assets/images/illustration4.png" alt=""/>
        </div>
        <div class="card-text frame <%= dir %>">
          <h4>Помощь в трудоустройстве и создании собственного дела</h4>
        </div>
      </div>           
    </div>
  </section>

  <section class="reasons-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Зачем мы это делаем?</h2>
    </div>
    <div class="wrapper <%= dir %>">
      <div class="left-wrapper">
        <img src="/static/assets/images/avatar-vector1.png" alt=""/>
        <div class="bubble">
          <div class="corner <%= dir === 'ltr' ? 'left' : 'right' %>" ></div>
          <div class="text-container <%= dir === 'ltr' ? 'left' : 'right' %>" >
            <p>
              Мы хотим жить в гостеприимном, современном и полном возможностей городе. И убеждены в том, что сделать Хайфу именно такой — в наших силах. 
            </p>
            <p>
              Мы ждём тех, кто готов и не боится воплощать свои идеи, работать в команде и добиваться того, что кажется невозможным!
            </p>
          </div>
        </div>
        
      </div>
      <div class="right-wrapper">
        <div class="text">
          <div class="bubble">
            <div class="text-container <%= dir === 'ltr' ? 'right' : 'left' %>" >
              <p>
                На этом сайте вы можете найти полную информацию о наших проектах и мероприятиях, а также узнать, как присоединиться к нашей команде.
              </p>
            </div>
            <div class="corner <%= dir === 'ltr' ? 'right' : 'left' %>" ></div>   
          </div>
          <button class="slide-btn-big join-btn <%= dir %>">
            <span class="button-text">Присоединиться к нам</span>
            <span class="circle" aria-hidden="true">
              <span class="arrow _icon-ico-arrow-short"></span>
            </span>
          </button>
        </div>
        <img src="/static/assets/images/avatar-vector2.png" alt=""/>            
      </div>
    </div>
  </section>

  <section class="events-section" dir=<%= dir %>>
    <div class="section-title <%= dir %>">
      <h2>События</h2>
      <a href="/events">
        <button class="show-btn <%= dir %>">
          Показать все
          <div class="btn-arrow _icon-ico-arrow-short"></div>
        </button>
      </a>
    </div>
    <div class="events-container <%= dir %>">
      <div class="event event-1">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event1.png" alt=""/>
        </div>
        <h4 class="event-title">Волонтерство. Вербуем добрых людей</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event event-2">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event2.png" alt=""/>
        </div>
        <h4 class="event-title">Фитнес. Поддержка оздоровительного ц.</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event event-3">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event3.png" alt=""/>
        </div>
        <h4 class="event-title">Помощь жителям</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
      <div class="event event-4">
        <button class="options-menu _icon-ico-menu"></button>
        <div class="img-container">
          <img src="/static/assets/images/event4.png" alt=""/>
        </div>
        <h4 class="event-title">Волонтерская поддержка бездомным</h4>
        <div class="event-info">22.02.2023 - 10:00 - Хайфа, пл. городская. д. 3</div>
      </div>
    </div>
    <a href="/events" class="bottom-btn">
      <button class="show-btn">
        <div class="btn-arrow _icon-ico-arrow-short"></div>
      </button>
    </a>
  </section>

  <section class="donation-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Пожертвования</h2>
    </div>
    <div class="top frame <%= dir %>">
      <div class="content-title">Наши реквизиты</div>
      <button class="options-menu-big">
        <span class="btn-dots"></span>
      </button>
    </div>
    <div class="center">
      <div class="payment-details frame <%= dir %>">
        <div class="form">
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">Название банка</label>
            <input class="input" id="bank-name" value="‏בנק הפועלים" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">Swift код</label>
            <input class="input" id="bank-name" value="ALFARUMM" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">IBAN</label>
            <input class="input" id="bank-name" value="0000000000828132111000333" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>
          <div class="input-wrapper <%= dir %>">
            <label for="bank-name">ФИО получателя</label>
            <input class="input" id="bank-name" value="Victor Coy" readonly>
            <button class="copy-button">
              <span class=" _icon-ico-copy"></span>
            </button>
          </div>           
        </div>   
      </div>
      <div class="description frame <%= dir %>">
        <img class="bg-shape" src="/static/assets/images/bg-star.png" alt=""/>
        <img class="avatar" src="/static/assets/images/avatar-vector4.png" alt=""/>
        <div class="bubble"> 
          <div class="text-container <%= dir === 'ltr' ? 'right' : 'left' %>" >
            <p>
              Мы рады, что вы заинтересовались поддержкой нашей НКО. Наша организация работает над различными проектами, направленными на помощь людям, организации Эвентов и улучшения уровня жизни в Хайфе. 
            </p>
            <p>
              Вы можете сделать свой вклад через наш сайт, выбрав удобный для вас способ оплаты. Мы также приветствуем любую другую форму поддержки, такую как волонтерская работа или распространение информации о нашей деятельности.
            </p>
          </div>
          <div class="corner <%= dir === 'ltr' ? 'right' : 'left' %>" ></div> 
        </div>        
      </div>
    </div>
    <div class="avatars frame <%= dir %>">
      <div class="avatars-container">
        <img src="/static/assets/images/avatar1.png" alt="" />
        <img src="/static/assets/images/avatar2.png" alt="" />
        <img src="/static/assets/images/avatar3.png" alt="" />
        <img src="/static/assets/images/avatar4.png" alt="" />
        <img src="/static/assets/images/avatar5.png" alt="" />
        <img src="/static/assets/images/avatar6.png" alt="" />
        <img src="/static/assets/images/avatar7.png" alt="" />
      </div>
    </div>
    <div class="bottom">
      <div class="transaction frame <%= dir %>">
        <button class="slide-btn-big join-btn <%= dir %>">
          <span class="button-text">Банковский перевод</span>
          <span class="circle" aria-hidden="true">
            <span class="arrow _icon-ico-arrow-short"></span>
          </span>
        </button>
      </div>
      <div class="join frame <%= dir %>">
        <button class="slide-btn-big join-btn <%= dir %>">
          <span class="button-text">Присоединиться к нам</span>
          <span class="circle" aria-hidden="true">
            <span class="arrow _icon-ico-arrow-short"></span>
          </span>
        </button>
      </div>
    </div>
  </section>

  <section class="important-facts-section" dir=<%= dir %>>
    <div class="section-title">
      <h2>Почему это важно?</h2>
    </div>
    <div class="facts-container">
      <div class="fact">
        <div class="fact-text text-regular">
          Тысяч молодых семей покинуло Хайфу в 2022 году
        </div>
        <div class="fact-number">
          12
        </div>
      </div>
      <div class="fact">
        <div class="fact-text text-regular">
          Место по оттоку молодежи из города
        </div>
        <div class="fact-number">
          3
        </div>
      </div>
      <div class="fact">
        <div class="fact-text text-regular">
          Тысяч студентов после выпуска ищут работу в центре
        </div>
        <div class="fact-number">
          >50
        </div>
      </div>
      <div class="fact">
        <div class="fact-text text-regular">
          Израильского бизнеса находится в Хайфе
        </div>
        <div class="fact-number">
          3,6%
        </div>
      </div>     
    </div>

  </section>



</main>

<%- contentFor('scripts') %>

<script>
  const copyButtons = document.querySelectorAll('.copy-button');

  copyButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const input = button.previousElementSibling;
      input.select();
      document.execCommand('copy');
    });
  });
</script>
